* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MuseoCyrl900";
    src: url(../font/MuseoCyrl900.otf);
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background: #222152;
}

.news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    color: #E2575F;
    margin: 0;
    padding-top: 110px;
    padding-bottom: 30px;
    font-family: "MuseoCyrl900";
}

.news__date {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.news__body {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.btn_form_modal[disabled] {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.main_modal__checked {
    padding-top: 30px;
    .form-group {
        display: block;
        margin-bottom: 15px;
    }
    .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }
    .form-group label {
        position: relative;
        cursor: pointer;
        font-size: 14px !important;
    }
    .form-group label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid #261E6B;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .form-group input:checked+label:after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: 8px;
        width: 8px;
        height: 14px;
        border: solid #261E6B;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .main_modal__politics {
        padding-top: 20px;
        font-size: 12px;
    }
    a {
        color: #261E6B;
    }
}

#header__main {
    background-image: url(assets/img/back__main.png);
    height: auto;
    background-repeat: no-repeat;
    min-height: 1135px;
    background-size: cover;
    background-position: bottom;
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 96px;
        color: #E2575F;
        margin: 0;
        padding-top: 110px;
        padding-bottom: 30px;
        font-family: "MuseoCyrl900";
    }
    h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        margin: 0;
        padding-bottom: 20px;
    }
    .header__a {
        font-size: 26px;
        color: white;
        text-decoration: underline;
    }
    .btn__main {
        #form_modal_open {
            background: linear-gradient(85.95deg, #E2575F -16.36%, #481659 55.34%, #2B1B4E 101.93%);
            box-shadow: 0px 4px 4px rgba(33, 0, 48, 0.41);
            border-radius: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            width: 404px;
            height: 103px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 220px;
            margin-top: 64px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

#about__main {
    padding-top: 75px;
    .about__back__main {
        position: absolute;
        right: 0;
        margin-top: -300px;
        z-index: -1;
    }
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        color: #FFFFFF;
        max-width: 814px;
        width: 100%;
        span:first-child {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 30px;
            /* or 125% */
            color: #A33F45;
        }
        span {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            /* or 187% */
            color: #A33F45;
        }
    }
}

#stages {
    #btn__rules {
        margin-top: 38px;
        background: linear-gradient( 85.95deg, #E2575F -16.36%, #481659 55.34%, #2B1B4E 101.93%);
        box-shadow: 0px 4px 4px rgb(33 0 48 / 41%);
        border-radius: 60px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        width: 100%;
        height: 103px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    padding-top: 112px;
    .stages__main {
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #A1A0CC;
        font-family: "MuseoCyrl900";
    }
    .stages__count_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 85px;
        width: 100%;
        padding-top: 100px;
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */
            color: #FFFFFF;
        }
        p:first-child {
            font-style: normal;
            font-weight: bold;
            font-size: 200px;
            line-height: 90px;
            color: rgba(226, 87, 95, 0.22);
            position: absolute;
            margin-top: -35px;
            margin-left: -50px;
        }
    }
}

#nominations {
    padding-top: 120px;
    .nominations__main {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #A1A0CC;
        padding-bottom: 46px;
        font-family: "MuseoCyrl900";
    }
    .nomination__items {
        width: 100%;
        background: #2D2C5A;
        box-shadow: 0px -4px 6px rgba(255, 255, 255, 0.2), 0px 4px 4px #0C0B2E;
        border-radius: 30px;
        padding-top: 42px;
        padding-bottom: 37px;
        padding-left: 63px;
        padding-right: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 49px;
        .nominations__p {
            padding-left: 52px;
            p:first-child {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
            }
        }
    }
    .btn__main {
        display: flex;
        align-items: center;
        justify-content: center;
        #form_modal_open {
            background: linear-gradient(85.95deg, #E2575F -16.36%, #481659 55.34%, #2B1B4E 101.93%);
            box-shadow: 0px 4px 4px rgba(33, 0, 48, 0.41);
            border-radius: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            width: 404px;
            height: 103px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

#uchat {
    img {
        position: absolute;
        z-index: -1;
        margin-top: -150px;
    }
    .uchat__blade {
        max-width: 100%;
        margin-left: 48%;
        width: 60%;
        p {
            padding-top: 131px;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            text-transform: uppercase;
            color: #A1A0CC;
            font-family: "MuseoCyrl900";
        }
        ul {
            padding-top: 82px;
            li {
                padding-bottom: 50px;
                color: #E2575F;
                list-style: disc;
                font-size: 20px;
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 40px;
                    /* or 133% */
                    color: #FFFFFF;
                }
            }
        }
    }
}

#rules {
    padding-top: 370px;
    .rules__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        text-align: center;
        text-transform: uppercase;
        color: #E2575F;
        padding-bottom: 38px;
        font-family: "MuseoCyrl900";
    }
    .rules__body {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        /* or 167% */
        text-align: center;
        color: #FFFFFF;
        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 40px;
            /* or 167% */
            text-align: center;
            color: #FFFFFF;
        }
    }
}

#news {
    padding-top: 100px;
    .news__title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        /* identical to box height, or 100% */
        text-align: center;
        text-transform: uppercase;
        color: #A1A0CC;
        font-family: "MuseoCyrl900";
        padding-bottom: 47px;
    }
    .slider-produtos-wrap {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }
    .swiper-slide {
        z-index: 1;
        height: auto;
        background: #2D2C5A;
        box-shadow: 0px -4px 6px rgba(255, 255, 255, 0.2), 0px 4px 4px #0C0B2E;
        border-radius: 30px;
    }
    .swiper-prev,
    .swiper-next {
        width: 60px;
        height: 26px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 60px;
        z-index: 9999;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .swiper-prev {
        left: -55px;
        background-image: url(assets/img/str2.svg);
    }
    .swiper-next {
        right: -55px;
        background-image: url(assets/img/str1.svg);
    }
    .news__img {
        max-width: 100%;
        max-height: 226px;
        min-height: 226px;
        overflow: hidden;
        img {
            width: 100%;
            border-radius: 30px 30px 0 0;
        }
    }
    .news__body {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 34px;
        p {
            padding-top: 23px;
            padding-bottom: 13px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 34px;
            /* or 189% */
            color: #FFFFFF;
        }
        .btn__news {
            width: 100%;
            text-align: right;
        }
    }
}

#org {
    background-image: url(assets/img/back__org.png);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: center;
    margin-top: 80px;
    min-height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    .org__container {
        display: flex;
        align-items: center;
        justify-content: center;
        .org__lows {
            max-width: 400px;
        }
        .org__title {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            /* identical to box height, or 100% */
            text-align: left;
            text-transform: uppercase;
            color: #A1A0CC;
            font-family: "MuseoCyrl900";
            padding-bottom: 16px;
        }
        .org__body {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 40px;
            /* or 167% */
            color: #E2575F;
        }
        .org__ul {
            padding-left: 95px;
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
                /* or 142% */
                color: #FFFFFF;
            }
            ul {
                li {
                    color: #E2575F;
                    list-style: disc;
                    span {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 34px;
                        /* or 212% */
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

#partenrs__2021 {
    padding-top: 30px;
    padding-bottom: 40px;
    p {
        font-family: "MuseoCyrl900";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        /* identical to box height, or 100% */
        text-align: center;
        text-transform: uppercase;
        color: #A1A0CC;
    }
    .partners__logo_container {
        padding-top: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 70px;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                max-height: 114px;
            }
        }
    }
}

#footer {
    background-image: url(assets/img/footer__back.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    .footer__contact {
        padding-right: 60px;
        max-width: 550px;
        p:first-child {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            padding-bottom: 35px;
        }
        p {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 40px;
            color: #E2575F;
            padding-bottom: 0;
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 40px;
                /* or 167% */
                color: #FFFFFF;
            }
        }
    }
    .footer__container_grid {
        display: flex;
        justify-content: space-between;
        padding-top: 230px;
    }
    .copy__foter {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:1201px) {
    #stages .stages__count_grid {
        grid-template-columns: 1fr 1fr;
    }
    #org .org__container .org__ul {
        padding-left: 30px;
    }
    #org .org__container .org__lows {
        max-width: 300px;
    }
    .org__lows {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width:992px) {
    #header__main .btn__main #form_modal_open {
        width: 100%;
    }
    .swiper-prev {
        display: none;
    }
    .swiper-next {
        display: none;
    }
    #header__main h1 {
        font-size: 45px;
        line-height: 50px;
    }
    #header__main h3 {
        font-size: 26px;
    }
    #stages .stages__count_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 30px;
        width: 100%;
        padding-top: 100px;
    }
    #stages .stages__count_grid p:first-child {
        margin-top: 0;
        margin-left: 0;
    }
    #nominations .nomination__items .nominations__p {
        padding-left: 0;
    }
    #nominations .nomination__items {
        width: 100%;
        background: #2D2C5A;
        box-shadow: 0px -4px 6px rgb(255 255 255 / 20%), 0px 4px 4px #0c0b2e;
        border-radius: 30px;
        padding-top: 42px;
        padding-bottom: 37px;
        padding-left: 23px;
        padding-right: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 49px;
        flex-direction: column;
        text-align: center;
    }
    #uchat img {
        display: none;
    }
    #uchat .uchat__blade {
        max-width: 100%;
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
    }
    #uchat .uchat__blade ul li span {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 40px;
        color: #FFFFFF;
    }
    #rules {
        padding-top: 70px;
    }
    #rules .rules__title {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #E2575F;
        padding-bottom: 38px;
        font-family: "MuseoCyrl900";
    }
    #org .org__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    #org .org__container .org__ul {
        padding-left: 0;
        width: 80%;
    }
    #partenrs__2021 .partners__logo_container {
        padding-top: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    #footer .footer__contact {
        max-width: 100%;
        padding-right: 0;
    }
    #footer .footer__container_grid {
        display: flex;
        justify-content: space-between;
        padding-top: 230px;
        flex-direction: column;
    }
    .footer__forms {
        margin-top: 30px;
    }
}